<!DOCTYPE html>
<html>
<head>
  <title>BenchBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJ2-M04DPULQARyWf0GyDTm7W7ZCkVps"></script>

  <%= yield %>
</body>
</html>
